* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

header a {
  display: block;
  color: #5c381e;
}

header span {
  text-decoration: underline;
}

body {
  display: flex;
  min-height: 100vh;
}

body > * {
  flex: 1 1 0px;
}

main {
  flex: 2 1 0px;
}

main .container {
  margin-left: 60px;
}

.header {
  background: url("./images/train.jpg") no-repeat center;
  min-height: 100vh;
  position: relative;
}

.logo-wrapper {
  height: 330px;
  display: flex;
}

.logo-wrapper div {
  background-color: #000000ab;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;

  align-self: flex-end;
  width: 100%;
  padding: 15px 0 15px 0;
}

.logo-wrapper h1 {
  letter-spacing: -3px;
  font-size: 3rem;
  font-family: "Dosis", sans-serif;
  color: #fbfaf3;
}

.header > div:last-of-type {
  width: 100%;
  position: absolute;
  bottom: 0;
  text-align: center;
}

.header img {
  max-height: 100px;
}

.hero-text {
  margin: 140px 20px 60px 0;
  font-size: 1.4rem;
  font-weight: 500;
  /* max-width: 50ch; */
  max-width: 625px;
}

.hero-text p:last-of-type {
  margin: 40px 0 0 0;
}

.form {
  max-width: 600px;
}

.form-wrapper h2 {
  margin: 0 0 20px 0;
}

.form-row {
  display: flex;
  gap: 60px;
  margin: 0 0 20px 0;
}

.form-row:last-child {
  margin: 0;
}

.form-row div {
  flex: 1;
}

.form-row div label {
  display: block;
  text-transform: uppercase;
  font-size: 0.7rem;
  color: #3e3e3e;
  letter-spacing: 2px;
  margin-bottom: 3px;
}

.form-row input {
  padding: 8px 10px 8px 10px;
  width: 100%;
  appearance: none;
  border: 1px solid rgb(222, 222, 222);
  border-radius: 5px;
}

.form-row input:focus {
  box-shadow: 0px 7px 7px -2px #b8c0ff;
  outline: 1px solid #b8c0ff;
  border: 1px solid #b8c0ff;
}

.line {
  box-shadow: 0 10px 16px -10px rgb(150, 150, 150);
  height: 30px;
  width: 100%;
}

.bottom {
  margin: 50px 0 0 0;
}

.bottom button {
  padding: 14px 45px;
  border-radius: 7px;
  border: none;
  background-color: #5c381e;
  color: white;
  font-size: 1.15rem;
  margin: 0 0 35px 0;
  cursor: pointer;
  transition: all 0.2s ease-in;
}

.bottom button:hover, .bottom button:focus {
  box-shadow: #121212 0 0 0 3px, transparent 0 0 0 0;
  background-color: #2b2200;
}

.bottom a {
  display: inline-block;
  color: #b19564;
  transition: all 0.1s ease-in;
}

.bottom a:hover, .bottom a:focus {
  color: #c16d00;
  text-decoration: underline;
}

.password1-wrapper {
  position: relative;
}

.error-msg {
  font-size: 0.8rem;
  color: red;
  position: absolute;
  bottom: -20px;
  left: 0;
  visibility: hidden;
}
