* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Orbitron', sans-serif;
}

body {
  display: flex;
  min-height: 100vh;
}

body > * {
  flex: 1 1 0px;
}

main {
  flex: 2 1 0px; 
}

.header {
  background: url('./images/train.jpg') no-repeat center; 
  min-height: 100vh;
  position: relative;
}

.logo-wrapper {
  height: 330px;
  display: flex;
}

.header > div > div {
  background-color: #000000ab;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;

  align-self: flex-end;
  width: 100%;
}

.header > div:last-of-type {
  width: 100%;
  position: absolute;
  bottom: 0;
  text-align: center;

}

.header img {
  max-height: 100px;
}